<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
	<title>Fake News Detection</title>
	<link href = 'https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href = 'https://fonts.googleapis.com/css?family=Armio' rel='stylesheet' type='text/css'>
	<link href = 'https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href = 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='style7.css') }}"> 
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript"> 
      $(document).ready( function() {
        $('#foo').delay(4000).fadeOut();
      });
    </script>

</head>

<body>
    <div class="container">
      <nav class="navbar">
      <ul>
          <li><a href="#home">  Home</a><li>
          <li><a href="#text">Detection of text</a></li>
        </ul>
      </nav>
      
       <section id="home">
        <h1>Welcome to Fake News Detection Site</h1>
        <h1>Wanna detect whether the news is real or fake...</h1>
        <h1> Cool You are on the right site!!!</h1>
        <br>
		<br>
		
        <div id="foo" class="results">

        	{% if prediction2 == ['Fake']%}
        	<h1 style="color:red;">Looking Spam News</h1>
        	{% elif prediction2 == ['Real']%}
        	<h1 style="color:green;">Looking Real News</h1>	
        	{% elif prediction2 == ['enORhn_text']%}
        	<h1 style="color:red;">News is not in KANNADA</h1>
        	{% elif prediction2 == ['Url']%}
        	<h1 style="color:red;">Please input right format of news</h1>
        	{% endif %}
        	<div class="results 3">

        	</div>
        	
      </section>
      
      
      <section id="text">
          <h1>Categorising text news</h1>
          <br>
          <p class="lead">Any text message can be designated as fake or real. Not sure with it?</p>
          <p class="lead">Have a try :)</p>
          <br>
          <form action="{{ url_for('predict_text')}}"method="post">
			<input type = "text" name = "news" placeholder = "Enter the text based news" class = "btn btn-block btn-large btn-width" required="required" />
			<br>
			<br>
			<button class = "btn btn-primary btn-block btn-large btn-width-1" onclick="$('#loading2').show();" onclick="myFunction()">Predict</button>
		</form>	
		<br>
		<div id="loading2" style="display:none;"><img src="ajax-loader.gif" alt="" /><h3>Please wait. Loading...</h3></div>
		<br>
      </section>
      
      
    </div>
	
</body>
</html>